---
import Slide from "../layouts/Slide.astro";
---

<Slide title="What is Profiling?">
  <div class="italic max-w-xl">
    Profiling is the process of analyzing a program's performance by measuring
    metrics like execution time, memory usage, and frequency of function calls.
    <br /><br />
    It helps developers identify bottlenecks, optimize code, and improve overall
    efficiency.
  </div>
</Slide>
