---
import Slide from "../layouts/Slide.astro";
---

<Slide title="Profiling Tools I Use">
  <ul class="underline text-blue-500 flex flex-col gap-4">
    <li><a href="https://developer.chrome.com/docs/devtools/performance">Chrome DevTools</a></li>
    <li><a href="https://devtools.vuejs.org/getting-started/features#inspect-vite-only">Vue/Vite DevTools</a></li>
    <li><a href="https://docs.deno.com/runtime/reference/cli/benchmarker/">Deno Benchmark Tool</a></li>
    <li><a href="https://github.com/benfred/py-spy">py-spy</a></li>
    <li><a href="https://www.speedscope.app/">Speedscope</a></li>
  </ul>
</Slide>
