---
import { ViewTransitions } from "astro:transitions";
import Heading from "../components/Heading.astro";
import { PAGES } from "../pages/slides/[slide_index].astro";

type Props = {
  title?: string;
};

const { title } = Astro.props;

const currentSlideIndex =
  PAGES.findIndex((page) => page === Astro.url.pathname) + 1;

const nextSlideIndex =
  currentSlideIndex < PAGES.length ? currentSlideIndex + 1 : null;
const prevSlideIndex = currentSlideIndex > 1 ? currentSlideIndex - 1 : null;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Profiling</title>
    <ViewTransitions />
  </head>
  <body class="text-base">
    <div
      class="h-screen w-screen flex flex-col items-center justify-between p-4"
    >
      {title ? <Heading>{title}</Heading> : <div />}
      <div transition:animate="fade" class="">
        <slot />
      </div>
      <div class="flex justify-between w-fit gap-4">
        {
          prevSlideIndex && (
            <a href={`/slides/${prevSlideIndex}`} class="text-sm text-gray-500">
              Previous
            </a>
          )
        }

        {
          nextSlideIndex && (
            <a href={`/slides/${nextSlideIndex}`} class="text-sm text-gray-500">
              Next
            </a>
          )
        }
      </div>
    </div>
  </body>
</html>
